---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About the project">
    <h2 class="text-white">About the project</h2>
    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis expedita fugiat labore necessitatibus repellat? Illum incidunt nobis quas. Corporis eveniet iure maiores mollitia natus omnis, perspiciatis quisquam repellat sit voluptas!</p>
</Layout>